src/conf/xml-resources/web-services/UserManagementService/wsdl/UserManagementService.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:user="http://filipovic.com/ws/soap/management/user/entity"
                  xmlns:tns="http://filipovic.com/ws/soap/management/user"
                  targetNamespace="http://filipovic.com/ws/soap/management/user">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://filipovic.com/ws/soap/management/user/entity" schemaLocation="UserManagement.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateUserRequest">
        <wsdl:part element="user:CreateUserRequest" name="CreateUserRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateUserResponse">
        <wsdl:part element="user:CreateUserResponse" name="CreateUserResponse"/>
    </wsdl:message>
    <wsdl:message name="LoginRequest">
        <wsdl:part element="user:LoginRequest" name="LoginRequest"/>
    </wsdl:message>
    <wsdl:message name="LoginResponse">
        <wsdl:part element="user:LoginResponse" name="LoginResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="UserManagementService">
        <wsdl:operation name="createUser">
            <wsdl:input message="tns:CreateUserRequest" name="CreateUserRequest"/>
            <wsdl:output message="tns:CreateUserResponse" name="CreateUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="tns:LoginRequest" name="LoginRequest"/>
            <wsdl:output message="tns:LoginResponse" name="LoginResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="UserManagementServiceBinding" type="tns:UserManagementService">                  
        <soap:binding style="document"                                                   
            transport="http://schemas.xmlsoap.org/soap/http"/>                           
        <wsdl:operation name="createUser">
            <soap:operation soapAction="http://filipovic.com/UserManagementService#createUser"/>          
            <wsdl:input name="CreateUserRequest">
                <soap:body use="literal"/>                                             
            </wsdl:input>
            <wsdl:output name="CreateUserResponse">
                <soap:body use="literal"/>                                             
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="http://filipovic.com/UserManagementService#login"/>          
            <wsdl:input name="LoginRequest">
                <soap:body use="literal"/>                                             
            </wsdl:input>
            <wsdl:output name="LoginResponse">
                <soap:body use="literal"/>                                             
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
   
    <wsdl:service name="UserManagementSOAP">
        <wsdl:port binding="tns:UserManagementServiceBinding" name="UserManagementSOAPPort">          
            <soap:address location="http://localhost:8080/UserManagement/"/>             
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>